.contenedor {
width: 60%;
margin: auto;
display: flex;
flex-direction: column;
gap: 15px;
}


input, textarea {
padding: 10px;
font-size: 16px;
}


button {
padding: 12px;
font-size: 18px;
background: #4caf50;
color: #fff;
border: none;
cursor: pointer;
}